---
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogList from "@components/page/Blog/BlogList.svelte";
import slug from "@components/scripts/slug.js";

export async function getStaticPaths({ paginate }) {
  const postsByAuthor = (allPosts, author) => {
    return allPosts
      .filter((post) => slug(post.frontmatter.author || "Unknown") === author)
      .sort(
        (a, b) =>
          new Date(b.frontmatter.date).valueOf() -
          new Date(a.frontmatter.date).valueOf()
      );
  };

  const allPosts = await Astro.glob("../../blog-posts/*.md");
  let allAuthorsUnique = [
    ...new Set(allPosts.map((p) => slug(p.frontmatter.author))),
  ];
  return allAuthorsUnique.map((author) => ({
    params: { author },
    props: { postsByAuthor: postsByAuthor(allPosts, author) },
  }));
}

const { postsByAuthor } = Astro.props;
const { params } = Astro;
const author = postsByAuthor[0].frontmatter.author || "Unknown";
---

<BaseLayout
  title={author + " | Blog Posts"}
  description={"Blog posts by " + author}
  customHeader
>
  <div slot="customHeader" class="container">
    <h3>Blog posts by</h3>
    <h1>{author}</h1>
  </div>
  <BlogList posts={postsByAuthor} />
</BaseLayout>
