@use "colours" as *;
@use "type" as *;

// Breakpoints
$breakpoint-sm: 40rem; // 640px
$breakpoint-md: 48rem; // 768px
$breakpoint-nav: 56rem; // 896px
$breakpoint-lg: 80rem; // 1280px

$grid-gap: 2rem;

table {
  text-align: left;

  // Add visual row gaps
  border-collapse: separate;
  border-spacing: 0 1rem;
  // Remove byproduct visual gap above and below table
  margin-top: -1rem;
  margin-bottom: -1rem;

  // Only apply horizontal padding if table has horizontal headers, not vertical
  th:only-of-type {
    @media (min-width: $breakpoint-sm) {
      padding-right: 1rem;
    }
    @media (min-width: $breakpoint-md) {
      padding-right: 3rem;
    }
  }
}
