@use "colours" as *;

$line-height-xs: 115%;
$line-height-125: 125%;
$line-height-sm: 140%;
$line-height-lg: 170%;

$font-size-xs: 0.75rem; // 12px
$font-size-sm: 0.875rem; // 14px
// Medium is default: 1rem // 16px
$font-size-lg: 1.125rem; // 18px
$font-size-24: 1.5rem; // 24px
$font-size-xl: 1.75rem; // 28px
$font-size-32: 2rem; // 32px
$font-size-40: 2.5rem; // 40px
$font-size-48: 3rem; // 48px

$behind-header-height: 124px;
$page-header-padding-top: 60px;
$page-header-padding-bottom: 60px;

$transition-text-hover: all 125ms ease-in-out;

@font-face {
  font-family: "FutureSuperRegular";
  src: url("/fonts/ABCMonumentGrotesk-Regular.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "FutureSuperHeadings";
  src: url("/fonts/ABCMonumentGrotesk-Medium.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "FutureSuperMono";
  src: url("/fonts/ABCMonumentGroteskMono-Regular.woff2") format("woff2");
  font-weight: 1 999;
  font-display: swap;
}

@font-face {
  font-family: "FutureSuperFeature";
  src: url("/fonts/Dia-Black.woff") format("woff");
  font-weight: 1 999;
  font-display: swap;
}

$heading: "FutureSuperHeadings", sans-serif;
$headings: "FutureSuperHeadings", sans-serif;
$regular: "FutureSuperRegular", sans-serif;
$mono: "FutureSuperMono", monospace;
$feature: "FutureSuperFeature", sans-serif;
