@use "../styles/_reset.scss" as *;
@use "colours" as *;
@use "type" as *;
@forward "tooltips";

body {
  font-family: $regular;
  color: $black;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $heading;
}

h1 {
  line-height: $line-height-xs;
  margin-bottom: 1.8rem;
  font-size: 2.8rem; // Fallback
  font-size: clamp(
    2rem,
    7vw,
    4.2rem
  ); // Min, Variable (including space for scrollbar), Max
  letter-spacing: -0.09rem; // Fallback
  overflow-wrap: break-word; // Backup in case string is too large for container
}

h2 {
  line-height: $line-height-xs;
  margin-bottom: 1.4rem;
  font-size: 1.6rem; // Fallback
  font-size: min(max(1.5rem, 4vw), 5rem); // Min, Variable, Max
  letter-spacing: -0.04rem;
}
.skinny-container {
  h2 {
    margin-top: 60px;
  }
}

h3 {
  line-height: $line-height-xs;
  margin-bottom: 1rem;
  font-size: 1.2rem; // Fallback
  font-size: min(max(1.2rem, 3vw), 1.8rem); // Min, Variable, Max
}

h4 {
  line-height: $line-height-sm;
  margin-bottom: 1rem;
}

h5 {
  font-size: $font-size-sm;
  line-height: $line-height-sm;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  line-height: 120%;
  a {
    color: inherit;
    transition: $transition-text-hover;
    &:hover {
      color: $green;
    }
  }
}

.disclaimer {
  color: $black600;
  font-size: 0.75rem;
  line-height: $line-height-sm;

  a:hover {
    color: $black;
  }
}

strong,
.bold {
  font-family: $heading;
}

.no-underline {
  text-decoration: none;
}

.center {
  text-align: center;
}


.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  padding: 40px;
}

@media (max-width: 700px) {
  .container {
    padding: 20px;
  }
}

button,
.button {
  font-family: $heading;
  line-height: $line-height-sm;
  text-align: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: $green;
  color: $black;
  text-decoration: none;
  border: 2px solid $green;
  border-radius: 100px;
  padding: 8px 32px;
  height: min-content;
  cursor: pointer;
  &:hover {
    background-color: $black;
    color: $white;
  }
  &.full-width {
    display: flex;
    width: 100%;
  }
  &.secondary {
    border-color: $black800;
    background-color: $black;
    color: $white;
    &:hover {
      border-color: $green;
    }
  }
}
