---
import BaseLayout from '$/layouts/BaseLayout.astro'
---

<BaseLayout
  title="About Us"
  description="Future Super exists to create a prosperous future free from climate change and inequality."
  skinnyContainer
>

  <h2>Super for impact</h2>
  <p>Investing is an <strong>opportunity</strong> cost. For every dollar in fossil fuels and other harmful industries, you miss a chance to invest in infrastructure and technology of the future.</p>
  <p>We don’t just invest responsibly and sustainably — we invest for impact.</p>
  <p>Today, we build funds with zero exposure to fossil fuels, negative carbon footprints and direct investments in clean energy projects.</p>

  <h2>Our people</h2>
  <p>Our team is defined by diversity, inclusion and commitment to climate action and equality. Want to help us change the world?</p>
  <p><a class="button" href="/work-with-us">Current job openings →</a></p>

</BaseLayout>