---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<style lang="scss">
  @use "../styles/" as *;
</style>

<BaseLayout
  title="About Us"
  description="Future Super exists to create a prosperous future free from climate change and inequality."
>
  <h1>About Us</h1>

</BaseLayout>