---
import BaseLayout from "@layouts/BaseLayout.astro";
import Everything from "@components/page/Everything.svelte";
import JoinNow from "@components/ui/JoinNow.svelte";
---

<BaseLayout
  title="Everything We Invest In"
  description="And we mean everything. Details and all."
  intro="Want to know everything that Future Super invests in, how much money is allocated to each investment, or which assets are in each investment option? Then you’re in the right place. Browse away and dig into the details."
  noContainer
>
  <!-- <div class="container" style="padding-top: 100px; padding-bottom: 100px; ">
    <h3 style="margin-bottom: 40px">The 'Everything We Invest In' list is temporarily unavailable.</h3>
    <h3>Our latest 'Portfolio Holdings Disclosure' document is
      available on the <a href="/documents-and-forms/#disclosure-requirements">Forms & Documents</a> page.</h3>
  </div> -->

  <Everything client:load />
  <JoinNow />
</BaseLayout>
