---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<style lang="scss">
  @use "../styles/" as *;
</style>

<BaseLayout
  hideTitle
  hideDescription
>
  <div>
    <h1>Switch your super. Shake the system.</h1>
    <p>Your super has the power to combat climate change. Let’s put it to work.</p>
    <p>No fossil fuels · Invested for climate action · 100% transparent</p>
    <a href="https://join.futuresuper.com.au/" class="button primary">Join Now</a>
  </div>


</BaseLayout>