---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  hideHeader
  hidePageHeader
  noContainer
  title="Keep your Future Super Account open"
  description="We just need to confirm a few details, otherwise your account will be closed."
  pageDescription="We just need to confirm a few details, otherwise your account will be closed."
>
  <div
    id="wrapper"
    style="height: 100vh"
    data-tf-widget="RfKMx0yD"
    data-tf-inline-on-mobile
    data-tf-medium="snippet"
  >
  </div>
  <script is:inline src="//embed.typeform.com/next/embed.js"></script>
  <div style="padding: 80px">
    <p>
      By providing your personal information in this form you consent to Future
      Super collecting and using your personal information to manage your
      superannuation account and to comply with the relevant legislation. If you
      do not provide this information, we may not be able to accurately manage
      your superannuation account. Your personal information may be disclosed to
      other parties, including the Trustee, the Fund Promoter, the Fund’s
      Administrator, the Fund’s Insurer and professional advisers, government
      bodies and the trustee of any other fund to which you transfer. To access
      your personal information or for a copy of our Privacy Policy, visit
      www.myfuturesuper.com.au or phone 1300 658 422.
    </p>
    <p>
      Interests in Future Super are issued by Diversa Trustees Limited (ABN 49
      006 421 638, RSE Licence L0000635, AFS Licence 235153) as trustee of the
      Future Super Fund (ABN 45 960 194 277; RSE Registration R1072914).
    </p>
  </div>
</BaseLayout>
