---
import Faq from "../page/SupportAndFaqs/Faq.svelte";
const { heading, category } = Astro.props;
let allFaqs = await Astro.glob("../../faqs/*.md");
let faqs = [];
allFaqs.map((f) => {
  if (f.frontmatter.category === category) {
    faqs.push(f);
  }
});
function getSlug(str) {
  const startIndex = str.indexOf("faqs/") + "faqs/".length;
  const endIndex = str.length - 3;
  return str.substring(startIndex, endIndex);
}
const faqsFlat = faqs.map((faq) => {
  return {
    title: faq.frontmatter.title,
    url: "/faqs/" + getSlug(faq.file),
    category: faq.frontmatter.category,
    content: faq.compiledContent(),
  };
});
---

<style lang="scss">
  @use "../../styles/" as *;

  aside {
    margin: 60px 0;
    border-bottom: 1px solid $black;
  }
</style>

<aside>
  <h2>{heading ? heading : "Related FAQs"}</h2>
  {
    faqsFlat.map((faq) => (
      <Faq client:load title={faq.title} url={faq.url} content={faq.content} />
    ))
  }
</aside>
