---
import Faq from "../page/SupportAndFaqs/Faq.svelte";
const { heading, category } = Astro.props;
let allFaqs = await Astro.glob("@pages/faqs/*.md");
let faqs = [];
allFaqs.map((f) => {
  if (f.category === category) {
    faqs.push(f);
  }
});
---

<style lang="scss">
  @use "../../styles/" as *;

  aside {
    margin: 60px 0;
    border-bottom: 1px solid $black;
  }
</style>

<aside>
  <h2>{heading ? heading : "Related FAQs"}</h2>
  {faqs.map((f) => <Faq client:load faq={f} />)}
</aside>
